* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    height: 100vh;
}

.left {
    flex: 1;
    background: url("./login.jpg") no-repeat center center;
    background-size: cover;
}

.right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.login-box {
    width: 80%;
    max-width: 350px;
    text-align: center;
}

.login-box h2 {
    margin-bottom: 25px;
    font-weight: 600;
    text-align: left;
    color: #868686;
}

.login-box input {
    width: 100%;
    padding: 12px 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
}

.login-box button {
    width: 100%;
    padding: 12px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-box button:hover {
    background-color: #222;
}

.login-box .options {
    margin-top: 10px;
    font-size: 14px;
}

.login-box .options a {
    color: #333;
    text-decoration: underline;
}

.remember-me {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /*margin: 10px 0;*/
}

.checkbox-label {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
}

.checkbox-label input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    background-color: #fff;
    border: 1px solid #ccc;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    margin-right: 8px;
    position: relative;
    cursor: pointer;
    transition: all 0.2s ease;
}

.checkbox-label input[type="checkbox"]:checked {
    background-color: #000;
    border-color: #000;
}

.checkbox-label input[type="checkbox"]:checked::after {
    content: "";
    position: absolute;
    left: 5px;
    top: 2px;
    width: 5px;
    height: 11px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

@media (max-width: 768px) {
    body {
        flex-direction: column;
        overflow-x: hidden;
    }

    .left {
        display: none;
    }

    .right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        min-height: 100vh;
        padding: 40px 20px;
    }

    .login-box {
        width: 100%;
        max-width: 300px;
        padding: 10px;
    }

    .login-box input,
    .login-box button {
        font-size: 15px;
        padding: 10px 12px;
    }

    .login-box h2 {
        font-size: 18px;
        margin-bottom: 15px;
    }
}

